@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-white font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-xl bg-white/5;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-white/5 rounded-full;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-emerald-500/50 rounded-full hover:bg-emerald-500/70;
  }
}
